<%- include('partials/head') %>
<%- include('partials/navbar') %>

     
     <main>
                  <%- include('partials/features') %>

                  <%- include('partials/contact') %>

     </main>
     <%- include('partials/footer') %>