<%- include('partials/head') %>
<%- include('partials/navbar') %>


<!-- Ejemplo de index.ejs -->
<%- include('partials/header') %>
<main>
    <%- include('partials/companies') %>
         
</main>
     <%- include('partials/footer') %>