<%- include('partials/head') %>
<%- include('partials/navbar') %>

<main>
    <%- include('partials/companies') %>
    <%- include('partials/services') %>
        
</main>
<%- include('partials/footer') %>